@model Quiz.Models.User
@{
    ViewBag.Title = "QuizCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quiz Created!</h2>
<h3>@Model.Username, your quiz have been successfully created!</h3>
<p>Share this link to your friends and family to know how much they know you </p>
